@font-face {
  font-family: 'kanit-bold';
  src: url('../assets/fonts/kanit-bold.woff') format('woff'),
       url('../assets/fonts/kanit-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'kanit';
  src: url('../assets/fonts/kanit-semibold.woff') format('woff'),
       url('../assets/fonts/kanit-semibold.woff2') format('woff2');
}
